*.pyc
*.pyo
*~
*.bak
*.sw?
Pipfile.lock

# Distribution / packaging
*.egg-info/
*.eggs/
build/
dist/
sdist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage

# Sphinx documentation
docs/_build/
